*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: #AECBD6;
}

p{
  color: #333C61;
  margin-left: 110px;
  margin-right: 110px;
   /*Code found on website: www.geeksforgeeks.org on date: 05/10/2023*/
  background: linear-gradient( 
    to right, #78A2CC, #88AED0, 
     #96B9D0, #AECBD6); 
}

h1{
  font-size: 50px;
  font
  color: #333C61;
  background-color: #78A2CC;
  margin-left: 30px;
  margin-right: 30px;
  /*Code found on website: www.geeksforgeeks.org on date: 05/10/2023*/
  background: linear-gradient( 
            to right, #78A2CC, #88AED0, 
             #96B9D0, #AECBD6); 
}

h2{
  font-size: 20px;
  color: #333C61;
  font-style: oblique;
  margin-left: 70px;
  margin-right: 70px;
   /*Code found on website: www.geeksforgeeks.org on date: 05/10/2023*/
  background: linear-gradient( 
    to right, #78A2CC, #88AED0, 
     #96B9D0, #AECBD6); 
}