*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-image: linear-gradient(
                    to right, #D7F1FB, #88AED0, 
                    #96B9D0, #D7F1FB); 
}

p{
  color: #333C61;
  font-size: 18px;
   /*Code found on website: www.geeksforgeeks.org on date: 05/10/2023*/
  background: linear-gradient( 
              to right, #D7F1FB,#88AED0, 
              #96B9D0, #D7F1FB); 
}

h1{
  font-size: 50px;
  font
  color: #333C61;
  /*Code found on website: www.geeksforgeeks.org on date: 05/10/2023*/
  background: linear-gradient(
              to right, #D7F1FB, #88AED0,
              #96B9D0, #D7F1FB);
} 

h2{
  font-size: 20px;
  color: #333C61;
  font-style: oblique;
   /*Code found on website: www.geeksforgeeks.org on date: 05/10/2023*/
  background: linear-gradient( 
              to right, #D7F1FB, #88AED0, 
               #96B9D0, #D7F1FB); 
}

#logo{
  width: 60px;
  float: left;
}

/* Code found on website: www.w3schools.com on date 05/10/2023*/
.header {
  background: linear-gradient( 
              to right, #D7F1FB, #88AED0, 
              #96B9D0, #D7F1FB);
  padding: 20px;
  text-align: center;
}

/* Code found on website: www.w3schools.com on date 05/10/2023*/
.topnav{
  overflow: hidden;
  background: linear-gradient( 
              to right, #D7F1FB, #88AED0, 
               #96B9D0, #D7F1FB); 
}

/* Code found on website: www.w3schools.com on date 05/10/2023*/
.topnav a {
  float: left;
  display: block;
  color: #333C61;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Code found on website: www.w3schools.com on date 05/10/2023*/
.topnav a:hover {
  background-color: #333C61;
  color: black;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.p.column{
  color: #333C61;
  font-size: 18px;
  background: linear-gradient( 
              to right, #D7F1FB, #88AED0);
}

.h2.column{
  font-size: 20px;
  color: #333C61;
  font-style: oblique;
  background: linear-gradient( 
              to right, #D7F1FB, #88AED0); 
}

