*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: #AECBD6;
}

p{
  color: #333C61;
  font-size: 18px;
   /*Code found on website: www.geeksforgeeks.org on date: 05/10/2023*/
  background: linear-gradient( 
              to right, #AECBD6, #88AED0, 
              #96B9D0, #AECBD6); 
}

h1{
  font-size: 50px;
  font
  color: #333C61;
  background-color: #78A2CC;
  /*Code found on website: www.geeksforgeeks.org on date: 05/10/2023*/
  background: linear-gradient( 
              to right, #AECBD6, #88AED0, 
               #96B9D0, #AECBD6); 
}

h2{
  font-size: 20px;
  color: #333C61;
  font-style: oblique;
   /*Code found on website: www.geeksforgeeks.org on date: 05/10/2023*/
  background: linear-gradient( 
              to right, #AECBD6, #88AED0, 
               #96B9D0, #AECBD6); 
}

#logo{
  width: 60px;
  float: left;
}

/* Code found on website: www.w3schools.com on date 05/10/2023*/
.header {
  background-color: #AECBD6;
  padding: 20px;
  text-align: center;
}

/* Code found on website: www.w3schools.com on date 05/10/2023*/
.topnav{
  overflow: hidden;
  background: linear-gradient( 
              to right, #AECBD6, #88AED0, 
               #96B9D0, #AECBD6); 
}

/* Code found on website: www.w3schools.com on date 05/10/2023*/
.topnav a {
  float: left;
  display: block;
  color: #333C61;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Code found on website: www.w3schools.com on date 05/10/2023*/
.topnav a:hover {
  background-color: #333C61;
  color: black;
}


